Repository moosecreates/tailtown: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes, Auto-label test changes

Auto-label frontend changes:
  label:
    add:
    - frontend

Auto-label backend changes:
  label:
    add:
    - backend

Auto-label documentation changes:
  label:
    add:
    - documentation

Auto-label test changes:
  label:
    add:
    - tests

fix: regenerate reservation service package-lock.json with ESLint 8
  services/reservation-service/package-lock.json
Due: Auto-label backend changes

feat: complete waitlist feature for all three calendars (#88)
  frontend/src/components/calendar/components/KennelRow.tsx
  package.json
  services/customer/package-lock.json
  services/customer/package.json
  services/customer/src/controllers/gingr-migration.controller.ts
  services/customer/src/controllers/invoice.controller.ts
  services/customer/src/controllers/trainingClass.controller.ts
  services/customer/src/controllers/waitlist.controller.ts
  services/customer/src/services/gingr-resource-mapper.service.ts
  services/reservation-service/package-lock.json
  services/reservation-service/package.json
Due: Auto-label frontend changes, Auto-label backend changes

fix: upgrade @mui/system to v7 to fix frontend build
  frontend/package.json
Due: Auto-label frontend changes

hotfix: upgrade @mui/system to v7 to fix deployment
  frontend/package.json
Due: Auto-label frontend changes

fix: regenerate frontend package-lock.json with @mui/system v7
  frontend/package-lock.json
Due: Auto-label frontend changes

fix: regenerate frontend package-lock.json with MUI v7
  frontend/package-lock.json
Due: Auto-label frontend changes

fix: revert MUI to v5 to avoid breaking Grid API changes
  frontend/package-lock.json
  frontend/package.json
Due: Auto-label frontend changes

fix: revert MUI to v5 to avoid breaking changes
  frontend/package-lock.json
  frontend/package.json
Due: Auto-label frontend changes

fix: downgrade @mui/x-date-pickers to v5 for compatibility
  frontend/package-lock.json
  frontend/package.json
Due: Auto-label frontend changes

fix: downgrade @mui/x-date-pickers to v5
  frontend/package-lock.json
  frontend/package.json
Due: Auto-label frontend changes

feat: add Report Cards to mobile app
  frontend/src/App.tsx
  frontend/src/pages/mobile/MobileReportCards.tsx
Due: Auto-label frontend changes

docs: add staff messaging to mobile roadmap
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: add package sales & multi-pass system to roadmap
  docs/ROADMAP.md
Due: Auto-label documentation changes

fix: downgrade date-fns to v2 for MUI v5 compatibility
  frontend/package-lock.json
  frontend/package.json
Due: Auto-label frontend changes

fix: downgrade date-fns to v2 for MUI compatibility
  frontend/package-lock.json
  frontend/package.json
Due: Auto-label frontend changes

fix: update DatePicker onChange handlers for MUI v5 compatibility
  frontend/src/components/orders/ReservationCreation.tsx
  frontend/src/components/staff/StaffScheduleForm.tsx
  frontend/src/pages/booking/steps/DateTimeSelection.tsx
  frontend/src/pages/kennels/PrintKennelCards.tsx
Due: Auto-label frontend changes

fix: update DatePicker onChange handlers for MUI v5
  frontend/src/components/orders/ReservationCreation.tsx
  frontend/src/components/staff/StaffScheduleForm.tsx
  frontend/src/pages/booking/steps/DateTimeSelection.tsx
  frontend/src/pages/kennels/PrintKennelCards.tsx
Due: Auto-label frontend changes

fix: upgrade @mui/x-date-pickers to v6 for slotProps support
  frontend/package-lock.json
  frontend/package.json
Due: Auto-label frontend changes

fix: upgrade @mui/x-date-pickers to v6 for proper TypeScript support
  frontend/package-lock.json
  frontend/package.json
Due: Auto-label frontend changes

fix: handle optional percent in recharts Pie label
  frontend/src/pages/analytics/AnalyticsDashboard.tsx
  frontend/src/pages/analytics/CustomerValueReport.tsx
Due: Auto-label frontend changes

fix: handle optional percent in recharts Pie labels
  frontend/src/pages/analytics/AnalyticsDashboard.tsx
  frontend/src/pages/analytics/CustomerValueReport.tsx
Due: Auto-label frontend changes

fix: update web-vitals import for v5 API
  frontend/src/reportWebVitals.ts
Due: Auto-label frontend changes

fix: update web-vitals v5 function names
  frontend/src/reportWebVitals.ts
Due: Auto-label frontend changes

fix: replace FID with INP in web-vitals v5
  frontend/src/reportWebVitals.ts
Due: Auto-label frontend changes

fix: disable ESLint warnings as errors in CI build
  .github/workflows/deploy.yml
Due: none

fix: disable ESLint warnings as errors in CI
  .github/workflows/deploy.yml
Due: none

fix: use any type for service field to avoid Prisma.ServiceArgs error
  services/reservation-service/src/types/prisma-extensions.ts
Due: Auto-label backend changes

fix: use any type for service field to avoid Prisma type error
  services/reservation-service/src/types/prisma-extensions.ts
Due: Auto-label backend changes

fix: add Prisma client generation step to deployment
  .github/workflows/deploy.yml
Due: none

fix: add Prisma client generation to deployment
  .github/workflows/deploy.yml
Due: none

fix: run Prisma migrations during deployment
  .github/workflows/deploy.yml
Due: none

fix: use PM2 restart instead of reload after migrations
  .github/workflows/deploy.yml
Due: none

Path conditions:
  Auto-label frontend changes: any of: ^frontend/
  Auto-label backend changes: any of: ^services/
  Auto-label documentation changes: (any of: ^docs/) and (any of: \.md$)
  Auto-label test changes: ((any of: \.test\.ts$) and (any of: \.spec\.ts$)) and (any of: __tests__/)
