Repository moosecreates/tailtown: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes, Auto-label test changes

Auto-label frontend changes:
  label:
    add:
    - frontend

Auto-label backend changes:
  label:
    add:
    - backend

Auto-label documentation changes:
  label:
    add:
    - documentation

Auto-label test changes:
  label:
    add:
    - tests

temp: add build files with vaccination fix
  frontend/src/components/VaccinationStatus.tsx
  frontend/src/pages/pets/PetDetails.tsx
Due: Auto-label frontend changes

fix: Remove Date conversion for vaccine JSON fields to allow proper saving
  services/customer/src/controllers/pet.controller.ts
Due: Auto-label backend changes

feat: Add pet notes field and automated Gingr sync (v1.2.3)
  docs/AI_REFERENCE_OVERNIGHT_FIX.md
  docs/OVERNIGHT_RESERVATION_FIX_2025-11-19.md
  docs/PET_NOTES_SYNC_DEPLOYMENT.md
  docs/ROADMAP.md
  frontend/src/hooks/useDashboardData.ts
  frontend/src/hooks/useKennelData.ts
  services/customer/prisma/migrations/20251119_add_pet_notes/migration.sql
  services/customer/prisma/schema.prisma
  services/customer/scripts/README-INCREMENTAL-SYNC.md
  services/customer/scripts/README-NIGHTLY-SYNC.md
  services/customer/scripts/full-gingr-sync.js
  services/customer/scripts/incremental-gingr-sync.js
  services/customer/scripts/setup-hourly-sync-cron.sh
  services/customer/scripts/setup-nightly-sync-cron.sh
  services/customer/src/services/gingr-api.service.ts
  services/customer/src/services/gingr-sync.service.ts
Due: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes

fix: Normalize vaccine field names to lowercase
  frontend/src/pages/pets/PetDetails.tsx
  services/customer/src/controllers/pet.controller.ts
Due: Auto-label frontend changes, Auto-label backend changes

docs: Add vaccine data standards and deployment script
  docs/VACCINE_DATA_STANDARDS.md
  services/customer/scripts/deploy-incremental-sync.sh
  services/customer/src/__tests__/utils/vaccine-validation.test.ts
  services/customer/src/utils/vaccine-normalization.ts
Due: Auto-label backend changes, Auto-label documentation changes

chore: Update frontend .gitignore
  frontend/.gitignore
Due: Auto-label frontend changes

Release v1.2.3: Automated Gingr Sync + Pet Notes (#165)
  docs/AI_REFERENCE_OVERNIGHT_FIX.md
  docs/OVERNIGHT_RESERVATION_FIX_2025-11-19.md
  docs/PET_NOTES_SYNC_DEPLOYMENT.md
  docs/ROADMAP.md
  docs/VACCINE_DATA_STANDARDS.md
  frontend/.gitignore
  frontend/src/hooks/useDashboardData.ts
  frontend/src/hooks/useKennelData.ts
  frontend/src/pages/pets/PetDetails.tsx
  services/customer/prisma/migrations/20251119_add_pet_notes/migration.sql
  services/customer/prisma/schema.prisma
  services/customer/scripts/README-INCREMENTAL-SYNC.md
  services/customer/scripts/README-NIGHTLY-SYNC.md
  services/customer/scripts/deploy-incremental-sync.sh
  services/customer/scripts/full-gingr-sync.js
  services/customer/scripts/incremental-gingr-sync.js
  services/customer/scripts/setup-hourly-sync-cron.sh
  services/customer/scripts/setup-nightly-sync-cron.sh
  services/customer/src/__tests__/utils/vaccine-validation.test.ts
  services/customer/src/controllers/pet.controller.ts
  services/customer/src/services/gingr-api.service.ts
  services/customer/src/services/gingr-sync.service.ts
  services/customer/src/utils/vaccine-normalization.ts
Due: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes

feat: Add comprehensive tenant isolation test suite with CI/CD
  .github/workflows/tenant-isolation-tests.yml
  docs/TENANT-ISOLATION-IMPLEMENTATION-SUMMARY.md
  docs/TENANT-ISOLATION-QUICK-REFERENCE.md
  docs/TENANT-ISOLATION-TESTING.md
  services/customer/src/__tests__/integration/tenant-isolation-comprehensive.test.ts
  services/customer/src/__tests__/integration/tenant-isolation.test.ts
Due: Auto-label backend changes, Auto-label documentation changes

feat: Add comprehensive tenant isolation test suite with CI/CD (#166)
  .github/workflows/tenant-isolation-tests.yml
  docs/TENANT-ISOLATION-IMPLEMENTATION-SUMMARY.md
  docs/TENANT-ISOLATION-QUICK-REFERENCE.md
  docs/TENANT-ISOLATION-TESTING.md
  services/customer/src/__tests__/integration/tenant-isolation-comprehensive.test.ts
  services/customer/src/__tests__/integration/tenant-isolation.test.ts
Due: Auto-label backend changes, Auto-label documentation changes

fix: Update actions/upload-artifact to v4
  .github/workflows/tenant-isolation-tests.yml
Due: none

fix: Update workflow to use actions/upload-artifact@v4 (#167)
  .github/workflows/tenant-isolation-tests.yml
Due: none

fix: Add uuid package dependency for tenant isolation tests
  services/customer/package.json
Due: Auto-label backend changes

fix: Add uuid package dependency for tenant isolation tests (#168)
  services/customer/package.json
Due: Auto-label backend changes

fix: Use npm install instead of npm ci for tenant isolation tests
  .github/workflows/tenant-isolation-tests.yml
Due: none

fix: Use npm install instead of npm ci (#169)
  .github/workflows/tenant-isolation-tests.yml
Due: none

fix: Use x-tenant-subdomain header instead of x-tenant-id in tests
  services/customer/src/__tests__/integration/tenant-isolation-comprehensive.test.ts
Due: Auto-label backend changes

fix: Use x-tenant-subdomain header in tenant isolation tests (#170)
  services/customer/src/__tests__/integration/tenant-isolation-comprehensive.test.ts
Due: Auto-label backend changes

fix: Add forceExit flag to prevent Jest from hanging in CI
  .github/workflows/tenant-isolation-tests.yml
  services/customer/src/__tests__/integration/tenant-isolation-comprehensive.test.ts
Due: Auto-label backend changes

fix: Add forceExit flag to prevent Jest hanging (#171)
  .github/workflows/tenant-isolation-tests.yml
  services/customer/src/__tests__/integration/tenant-isolation-comprehensive.test.ts
Due: Auto-label backend changes

fix: Add tenant isolation checks to prevent cross-tenant data access
  services/customer/src/controllers/customer.controller.ts
  services/customer/src/controllers/pet.controller.ts
  services/customer/src/controllers/staff.controller.ts
Due: Auto-label backend changes

fix: Add tenant isolation checks to controllers (#172)
  services/customer/src/controllers/customer.controller.ts
  services/customer/src/controllers/pet.controller.ts
  services/customer/src/controllers/staff.controller.ts
Due: Auto-label backend changes

docs: Complete tenant isolation CI/CD integration and update roadmap
  TENANT-ISOLATION-SUCCESS.md
  docs/ROADMAP.md
  docs/TENANT-ISOLATION-CI-CD-SUMMARY.md
  docs/TENANT-ISOLATION-TROUBLESHOOTING.md
Due: Auto-label documentation changes

docs: Complete tenant isolation CI/CD integration and update roadmap (#173)
  TENANT-ISOLATION-SUCCESS.md
  docs/ROADMAP.md
  docs/TENANT-ISOLATION-CI-CD-SUMMARY.md
  docs/TENANT-ISOLATION-TROUBLESHOOTING.md
Due: Auto-label documentation changes

fix: Replace all console.log with proper logging in controllers
  docs/CONSOLE-LOG-REMOVAL-SUMMARY.md
  services/customer/src/controllers/customer.controller.ts
  services/customer/src/controllers/staff.controller.ts
Due: Auto-label backend changes, Auto-label documentation changes

fix: Replace console.log in middleware files
  docs/CONSOLE-LOG-PHASE2-SUMMARY.md
  docs/ROADMAP.md
  services/customer/src/middleware/error.middleware.ts
  services/customer/src/middleware/require-super-admin.middleware.ts
  services/customer/src/middleware/tenant.middleware.ts
  services/reservation-service/src/controllers/check-in-template.controller.ts
Due: Auto-label backend changes, Auto-label documentation changes

docs: Update roadmap - console.log removal complete for critical path
  docs/ROADMAP.md
Due: Auto-label documentation changes

feat: Implement Redis caching for tenant lookups
  docs/REDIS-CACHING-IMPLEMENTATION.md
  services/customer/src/controllers/tenant.controller.ts
  services/customer/src/middleware/tenant.middleware.ts
  services/customer/src/utils/redis.ts
Due: Auto-label backend changes, Auto-label documentation changes

feat: Redis caching Phase 2 - Customer data
  docs/REDIS-CACHING-PHASE2.md
  services/customer/src/controllers/customer.controller.ts
Due: Auto-label backend changes, Auto-label documentation changes

fix: Replace console.log in check-in-template controller
  services/reservation-service/src/controllers/check-in-template.controller.ts
Due: Auto-label backend changes

docs: Update roadmap and add architectural review documents
  docs/ARCHITECTURAL-REVIEW-2025.md
  docs/DATABASE-INDEX-ANALYSIS.md
  docs/ROADMAP.md
  docs/SCALING-ACTION-PLAN.md
Due: Auto-label documentation changes

chore: Update package-lock.json for Redis dependencies
  services/customer/package-lock.json
Due: Auto-label backend changes

🚀 Performance Optimization: Redis Caching + Console.log Cleanup (#174)
  docs/ARCHITECTURAL-REVIEW-2025.md
  docs/CONSOLE-LOG-PHASE2-SUMMARY.md
  docs/CONSOLE-LOG-REMOVAL-SUMMARY.md
  docs/DATABASE-INDEX-ANALYSIS.md
  docs/REDIS-CACHING-IMPLEMENTATION.md
  docs/REDIS-CACHING-PHASE2.md
  docs/ROADMAP.md
  docs/SCALING-ACTION-PLAN.md
  services/customer/package-lock.json
  services/customer/src/controllers/customer.controller.ts
  services/customer/src/controllers/staff.controller.ts
  services/customer/src/controllers/tenant.controller.ts
  services/customer/src/middleware/error.middleware.ts
  services/customer/src/middleware/require-super-admin.middleware.ts
  services/customer/src/middleware/tenant.middleware.ts
  services/customer/src/utils/redis.ts
  services/reservation-service/src/controllers/check-in-template.controller.ts
Due: Auto-label backend changes, Auto-label documentation changes

fix: Replace console.log in remaining reservation service controllers
  services/reservation-service/src/controllers/check-in.controller.ts
  services/reservation-service/src/controllers/resource/availability.controller.ts
  services/reservation-service/src/controllers/service-agreement.controller.ts
Due: Auto-label backend changes

fix: Console.log cleanup - Reservation service controllers
  services/reservation-service/src/controllers/check-in.controller.ts
  services/reservation-service/src/controllers/resource/availability.controller.ts
  services/reservation-service/src/controllers/service-agreement.controller.ts
Due: Auto-label backend changes

fix: Replace final 2 console.error statements
  services/reservation-service/src/controllers/resource/batch-availability.controller.ts
Due: Auto-label backend changes

fix: Final console.log cleanup - batch-availability controller
  services/reservation-service/src/controllers/resource/batch-availability.controller.ts
Due: Auto-label backend changes

docs: Update Phase 2 summary to reflect 100% completion
  docs/CONSOLE-LOG-PHASE2-SUMMARY.md
Due: Auto-label documentation changes

feat: Redis caching Phase 3 - Service catalog and resources
  services/customer/src/controllers/resource.controller.ts
  services/customer/src/controllers/service.controller.ts
Due: Auto-label backend changes

Path conditions:
  Auto-label frontend changes: any of: ^frontend/
  Auto-label backend changes: any of: ^services/
  Auto-label documentation changes: (any of: ^docs/) and (any of: \.md$)
  Auto-label test changes: ((any of: \.test\.ts$) and (any of: \.spec\.ts$)) and (any of: __tests__/)
