Repository moosecreates/tailtown: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes, Auto-label test changes

.mergify.yml:

pull_request_rules:
  - name: Auto-merge approved PRs with automerge label
    conditions:
      - check-success=code-quality
      - check-success=quick-tests
      - check-success=build-check
      - label=automerge
      - -draft
      - -conflict
    actions:
      merge:
        method: squash
        commit_message: title+body
      delete_head_branch: {}
        
  - name: Auto-update branches to avoid conflicts
    conditions:
      - -conflict
      - -draft
      - -closed
    actions:
      update: {}
      
  - name: Auto-label frontend changes
    conditions:
      - files~=^frontend/
    actions:
      label:
        add: ["frontend"]
        
  - name: Auto-label backend changes
    conditions:
      - files~=^services/
    actions:
      label:
        add: ["backend"]
        
  - name: Auto-label documentation changes
    conditions:
      - files~=^docs/
      - files~=\.md$
    actions:
      label:
        add: ["documentation"]
        
  - name: Auto-label test changes
    conditions:
      - files~=\.test\.ts$
      - files~=\.spec\.ts$
      - files~=__tests__/
    actions:
      label:
        add: ["tests"]
        
  - name: Request review for large PRs
    conditions:
      - files>=20
    actions:
      comment:
        message: |
          ⚠️ This PR modifies {{files}} files. Consider breaking it into smaller PRs for easier review.

fix: use npm install for reservation service
  .github/workflows/deploy.yml
Due: none

fix: use npm install for reservation service (#145)
  .github/workflows/deploy.yml
Due: none

feat: mobile messaging with employee directory and real data
  docs/MOBILE-APP-MESSAGING-UPDATE.md
  frontend/src/pages/mobile/TeamChat.tsx
  frontend/src/services/messagingService.ts
  frontend/src/services/mobileService.ts
Due: Auto-label frontend changes, Auto-label documentation changes

feat: mobile messaging with employee directory and real data (#146)
  docs/MOBILE-APP-MESSAGING-UPDATE.md
  frontend/src/pages/mobile/TeamChat.tsx
  frontend/src/services/messagingService.ts
  frontend/src/services/mobileService.ts
Due: Auto-label frontend changes, Auto-label documentation changes

fix: add direct message endpoint for mobile app
  services/customer/src/controllers/messaging.controller.ts
  services/customer/src/routes/messaging.routes.ts
Due: Auto-label backend changes

fix: add direct message endpoint for mobile app (#147)
  services/customer/src/controllers/messaging.controller.ts
  services/customer/src/routes/messaging.routes.ts
Due: Auto-label backend changes

fix: change DIRECT to PRIVATE channel type to match schema
  services/customer/src/controllers/messaging.controller.ts
Due: Auto-label backend changes

Fix: Change DIRECT to PRIVATE channel type (#148)
  services/customer/src/controllers/messaging.controller.ts
Due: Auto-label backend changes

fix: update frontend to use PRIVATE channels with dm- prefix for direct messages
  frontend/src/pages/mobile/TeamChat.tsx
  frontend/src/services/messagingService.ts
Due: Auto-label frontend changes

Fix: Frontend support for PRIVATE dm- channels (#149)
  frontend/src/pages/mobile/TeamChat.tsx
  frontend/src/services/messagingService.ts
Due: Auto-label frontend changes

fix: add createdById field to channel creation
  services/customer/src/controllers/messaging.controller.ts
Due: Auto-label backend changes

Fix: Add createdById to channel creation (#150)
  services/customer/src/controllers/messaging.controller.ts
Due: Auto-label backend changes

fix: simplify direct message channel query using OR
  services/customer/src/controllers/messaging.controller.ts
Due: Auto-label backend changes

Fix: Simplify DM channel query (#151)
  services/customer/src/controllers/messaging.controller.ts
Due: Auto-label backend changes

fix: add tenantId validation and error logging for direct messages
  services/customer/src/controllers/messaging.controller.ts
Due: Auto-label backend changes

Fix: Add tenantId validation and error logging (#152)
  services/customer/src/controllers/messaging.controller.ts
Due: Auto-label backend changes

fix: use transaction to create DM channel and members separately
  services/customer/src/controllers/messaging.controller.ts
Due: Auto-label backend changes

Fix: Use transaction for DM channel creation (#153)
  services/customer/src/controllers/messaging.controller.ts
Due: Auto-label backend changes

fix: install customer service dependencies on server during deployment
  .github/workflows/deploy.yml
Due: none

Fix: Install customer service deps on server (#154)
  .github/workflows/deploy.yml
Due: none

revert: remove direct messaging endpoint to fix customer service crash
  .github/workflows/deploy.yml
  services/customer/src/controllers/messaging.controller.ts
  services/customer/src/routes/messaging.routes.ts
Due: Auto-label backend changes

Revert: Remove direct messaging to fix service crash (#155)
  .github/workflows/deploy.yml
  services/customer/src/controllers/messaging.controller.ts
  services/customer/src/routes/messaging.routes.ts
Due: Auto-label backend changes

fix: remove capacity routes causing service crash
  services/customer/src/index.ts
Due: Auto-label backend changes

Fix: Remove capacity routes causing service crash (#156)
  services/customer/src/index.ts
Due: Auto-label backend changes

Revert: Remove all messaging changes to restore service
  .github/workflows/deploy.yml
  docs/MOBILE-APP-MESSAGING-UPDATE.md
  frontend/src/pages/mobile/TeamChat.tsx
  frontend/src/services/messagingService.ts
  frontend/src/services/mobileService.ts
  services/customer/src/controllers/messaging.controller.ts
  services/customer/src/index.ts
  services/customer/src/routes/messaging.routes.ts
Due: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes

Revert: Remove all messaging changes to restore service (#157)
  .github/workflows/deploy.yml
  docs/MOBILE-APP-MESSAGING-UPDATE.md
  frontend/src/pages/mobile/TeamChat.tsx
  frontend/src/services/messagingService.ts
  frontend/src/services/mobileService.ts
  services/customer/src/controllers/messaging.controller.ts
  services/customer/src/index.ts
  services/customer/src/routes/messaging.routes.ts
Due: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes

fix: remove direct messaging code that was accidentally re-added
  services/customer/src/controllers/messaging.controller.ts
  services/customer/src/routes/messaging.routes.ts
Due: Auto-label backend changes

fix: remove direct messaging code that was accidentally re-added (#158)
  services/customer/src/controllers/messaging.controller.ts
  services/customer/src/routes/messaging.routes.ts
Due: Auto-label backend changes

Emergency: Revert to last working state before messaging changes
  .github/workflows/deploy.yml
  docs/MOBILE-APP-MESSAGING-UPDATE.md
  frontend/src/pages/mobile/TeamChat.tsx
  frontend/src/services/messagingService.ts
  frontend/src/services/mobileService.ts
Due: Auto-label frontend changes, Auto-label documentation changes

Emergency: Revert to last working state before messaging changes (#159)
  .github/workflows/deploy.yml
  docs/MOBILE-APP-MESSAGING-UPDATE.md
  frontend/src/pages/mobile/TeamChat.tsx
  frontend/src/services/messagingService.ts
  frontend/src/services/mobileService.ts
Due: Auto-label frontend changes, Auto-label documentation changes

fix: resolve rate limiter IPv6 validation error causing service crashes
  services/customer/src/middleware/rateLimiter.middleware.ts
Due: Auto-label backend changes

fix: resolve rate limiter IPv6 validation error causing service crashes (#160)
  services/customer/src/middleware/rateLimiter.middleware.ts
Due: Auto-label backend changes

feat: add vaccination status icons to dashboard pet display
  docs/CRITICAL-DOCS-REGISTRY.md
  docs/DEPLOYMENT-TROUBLESHOOTING.md
  docs/ROADMAP.md
  docs/changelog/2025-11-18-customer-service-deployment-fix.md
  docs/changelog/CHANGELOG.md
  frontend/src/components/booking/CapacityFullDialog.tsx
  frontend/src/constants/petIcons.ts
  frontend/src/hooks/useCapacityCheck.ts
  frontend/src/hooks/useDashboardData.ts
  frontend/src/services/capacityService.ts
  frontend/src/utils/petIconMapping.ts
  frontend/src/utils/vaccinationIconUtils.ts
  scripts/diagnose-server.sh
  scripts/fix-server.sh
  services/customer/src/controllers/gingr-migration.controller.ts
  services/customer/src/services/gingr-api.service.ts
  services/customer/src/services/gingr-resource-mapper.service.ts
Due: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes

feat: add vaccination status icons to dashboard pet display (#161)
  docs/CRITICAL-DOCS-REGISTRY.md
  docs/DEPLOYMENT-TROUBLESHOOTING.md
  docs/ROADMAP.md
  docs/changelog/2025-11-18-customer-service-deployment-fix.md
  docs/changelog/CHANGELOG.md
  frontend/src/components/booking/CapacityFullDialog.tsx
  frontend/src/constants/petIcons.ts
  frontend/src/hooks/useCapacityCheck.ts
  frontend/src/hooks/useDashboardData.ts
  frontend/src/services/capacityService.ts
  frontend/src/utils/petIconMapping.ts
  frontend/src/utils/vaccinationIconUtils.ts
  scripts/diagnose-server.sh
  scripts/fix-server.sh
  services/customer/src/controllers/gingr-migration.controller.ts
  services/customer/src/services/gingr-api.service.ts
  services/customer/src/services/gingr-resource-mapper.service.ts
Due: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes

fix: only count required vaccines in vaccination badge
  frontend/src/utils/vaccineUtils.ts
Due: Auto-label frontend changes

fix: only count required vaccines in vaccination badge (#162)
  frontend/src/utils/vaccineUtils.ts
Due: Auto-label frontend changes

fix: only show required vaccines in pet details form
  frontend/src/components/VaccinationStatus.tsx
  frontend/src/pages/pets/PetDetails.tsx
Due: Auto-label frontend changes

fix: only show required vaccines in pet details form (#163)
  frontend/src/components/VaccinationStatus.tsx
  frontend/src/pages/pets/PetDetails.tsx
Due: Auto-label frontend changes
