Repository moosecreates/tailtown: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes, Auto-label test changes

Auto-label frontend changes:
  label:
    add:
    - frontend

Auto-label backend changes:
  label:
    add:
    - backend

Auto-label documentation changes:
  label:
    add:
    - documentation

Auto-label test changes:
  label:
    add:
    - tests

fix: add error checking and logging to migration steps
  .github/workflows/deploy.yml
Due: none

fix: add error checking and logging to migrations
  .github/workflows/deploy.yml
Due: none

fix: resolve failed migration before deploying new ones
  .github/workflows/deploy.yml
Due: none

fix: resolve failed migration blocking deployments
  .github/workflows/deploy.yml
Due: none

fix: show migration resolve error instead of suppressing it
  .github/workflows/deploy.yml
Due: none

debug: show migration resolve error
  .github/workflows/deploy.yml
Due: none

fix: use --rolled-back to resolve failed migration
  .github/workflows/deploy.yml
Due: none

fix: resolve failed migration in reservation service too
  .github/workflows/deploy.yml
Due: none

fix: resolve failed migration in reservation service
  .github/workflows/deploy.yml
Due: none

fix: use --applied for reservation service migration
  .github/workflows/deploy.yml
Due: none

fix: regenerate Prisma clients on server after migrations
  .github/workflows/deploy.yml
Due: none

fix: use direct prisma binary path to avoid npm install
  .github/workflows/deploy.yml
Due: none

fix: use direct prisma binary to avoid npm install
  .github/workflows/deploy.yml
Due: none

fix: remove Prisma regeneration step - already done in CI
  .github/workflows/deploy.yml
Due: none

fix: remove Prisma regeneration - already done in CI
  .github/workflows/deploy.yml
Due: none

feat: enhance health endpoint with database diagnostics
  services/customer/src/index.ts
Due: Auto-label backend changes

feat: add simple /ping endpoint for basic health check
  services/customer/src/index.ts
Due: Auto-label backend changes

feat: add simple /ping endpoint
  services/customer/src/index.ts
Due: Auto-label backend changes

fix: support X-Forwarded-Host header for tenant extraction
  services/customer/src/middleware/tenant.middleware.ts
Due: Auto-label backend changes

fix: support X-Forwarded-Host for tenant extraction
  services/customer/src/middleware/tenant.middleware.ts
Due: Auto-label backend changes

feat: add debug-headers endpoint to diagnose reverse proxy
  services/customer/src/index.ts
Due: Auto-label backend changes

feat: add debug-headers endpoint
  services/customer/src/index.ts
Due: Auto-label backend changes

fix: send X-Tenant-Subdomain header in login request
  frontend/src/contexts/AuthContext.tsx
Due: Auto-label frontend changes

fix: send X-Tenant-Subdomain header in login
  frontend/src/contexts/AuthContext.tsx
Due: Auto-label frontend changes

feat: show actual error message in tenant middleware
  services/customer/src/middleware/tenant.middleware.ts
Due: Auto-label backend changes

feat: show actual error in tenant middleware
  services/customer/src/middleware/tenant.middleware.ts
Due: Auto-label backend changes

fix: force clean Prisma client regeneration
  .github/workflows/deploy.yml
Due: none

fix: regenerate Prisma clients ON THE SERVER
  .github/workflows/deploy.yml
Due: none

fix: use installed Prisma binary to avoid npm ERESOLVE
  .github/workflows/deploy.yml
Due: none

fix: use installed Prisma binary to avoid npm errors
  .github/workflows/deploy.yml
Due: none

fix: deploy generated Prisma clients from CI
  .github/workflows/deploy.yml
Due: none

fix: use pm2 delete and start to avoid caching
  .github/workflows/deploy.yml
Due: none

Path conditions:
  Auto-label frontend changes: any of: ^frontend/
  Auto-label backend changes: any of: ^services/
  Auto-label documentation changes: (any of: ^docs/) and (any of: \.md$)
  Auto-label test changes: ((any of: \.test\.ts$) and (any of: \.spec\.ts$)) and (any of: __tests__/)
