Repository moosecreates/tailtown: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes, Auto-label test changes

Auto-label frontend changes:
  label:
    add:
    - frontend

Auto-label backend changes:
  label:
    add:
    - backend

Auto-label documentation changes:
  label:
    add:
    - documentation

Auto-label test changes:
  label:
    add:
    - tests

docs: add senior dev review recommendations to roadmap
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: remove completed items from roadmap
  docs/ROADMAP.md
Due: Auto-label documentation changes

feat: enable fully automatic PR merging for all branches
  .github/workflows/README.md
  .github/workflows/auto-merge.yml
  docs/AUTO-MERGE-GUIDE.md
Due: Auto-label documentation changes

docs: add Twilio/SendGrid quick start guide
  docs/TWILIO-SENDGRID-QUICKSTART.md
Due: Auto-label documentation changes

docs: add Twilio and SendGrid production setup guide
  docs/TWILIO-SENDGRID-SETUP.md
  package.json
  scripts/test-notifications.js
Due: Auto-label documentation changes

feat: enhance auto-merge workflow for docs and chore branches
  .github/workflows/README.md
  .github/workflows/auto-merge.yml
  docs/AUTO-MERGE-GUIDE.md
Due: Auto-label documentation changes

feat: enable fully automatic PR merging and add Twilio/SendGrid setup (#37)
  .github/workflows/README.md
  .github/workflows/auto-merge.yml
  docs/AUTO-MERGE-GUIDE.md
  docs/ROADMAP.md
  docs/TWILIO-SENDGRID-QUICKSTART.md
  docs/TWILIO-SENDGRID-SETUP.md
  package.json
  scripts/test-notifications.js
Due: Auto-label documentation changes

feat: implement per-tenant rate limiting
  services/customer/src/index.ts
  services/customer/src/middleware/rateLimiter.middleware.ts
  services/reservation-service/src/utils/service.ts
Due: Auto-label backend changes

feat: implement per-tenant rate limiting (#38)
  services/customer/src/index.ts
  services/customer/src/middleware/rateLimiter.middleware.ts
  services/reservation-service/src/utils/service.ts
Due: Auto-label backend changes

feat: implement database connection pooling
  docs/CONNECTION-POOLING.md
  services/reservation-service/src/config/prisma.ts
  services/reservation-service/src/index.ts
Due: Auto-label backend changes, Auto-label documentation changes

feat: implement database connection pooling (#39)
  docs/CONNECTION-POOLING.md
  services/reservation-service/src/config/prisma.ts
  services/reservation-service/src/index.ts
Due: Auto-label backend changes, Auto-label documentation changes

fix: resolve IPv6 rate limiting error
  services/customer/src/index.ts
  services/reservation-service/src/utils/service.ts
Due: Auto-label backend changes

feat: add monitoring, audit logging, and comprehensive test coverage
  TEST-COVERAGE-GUIDE.md
  docs/API-GATEWAY-DESIGN.md
  docs/AUDIT-LOGGING-GUIDE.md
  docs/INFRASTRUCTURE-IMPROVEMENTS-SUMMARY.md
  docs/MONITORING-GUIDE.md
  load-tests/EMAIL-INSTRUCTIONS.md
  load-tests/QUICKSTART.md
  load-tests/README.md
  load-tests/RESULTS.md
  load-tests/connection-pool.js
  load-tests/generate-pdf-report.js
  load-tests/rate-limiting-multi.js
  load-tests/rate-limiting-single.js
  load-tests/send-report-email.js
  load-tests/simple-test.js
  services/customer/__tests__/connectionPool.test.ts
  services/customer/__tests__/multiTenant.test.ts
  services/customer/__tests__/rateLimiter.test.ts
  services/customer/src/index.ts
  services/customer/src/routes/monitoring.routes.ts
  services/customer/src/utils/auditLog.ts
  services/customer/src/utils/monitoring.ts
  services/reservation-service/src/index.ts
  services/reservation-service/src/routes/monitoring.routes.ts
  services/reservation-service/src/utils/auditLog.ts
  services/reservation-service/src/utils/monitoring.ts
Due: Auto-label backend changes, Auto-label documentation changes

feat: add monitoring dashboard link to super admin page
  frontend/src/pages/super-admin/Dashboard.tsx
Due: Auto-label frontend changes

Infrastructure Improvements: Monitoring, Audit Logging, Test Coverage
  TEST-COVERAGE-GUIDE.md
  docs/API-GATEWAY-DESIGN.md
  docs/AUDIT-LOGGING-GUIDE.md
  docs/INFRASTRUCTURE-IMPROVEMENTS-SUMMARY.md
  docs/MONITORING-GUIDE.md
  frontend/src/pages/super-admin/Dashboard.tsx
  load-tests/EMAIL-INSTRUCTIONS.md
  load-tests/QUICKSTART.md
  load-tests/README.md
  load-tests/RESULTS.md
  load-tests/connection-pool.js
  load-tests/generate-pdf-report.js
  load-tests/rate-limiting-multi.js
  load-tests/rate-limiting-single.js
  load-tests/send-report-email.js
  load-tests/simple-test.js
  services/customer/__tests__/connectionPool.test.ts
  services/customer/__tests__/multiTenant.test.ts
  services/customer/__tests__/rateLimiter.test.ts
  services/customer/src/index.ts
  services/customer/src/routes/monitoring.routes.ts
  services/customer/src/utils/auditLog.ts
  services/customer/src/utils/monitoring.ts
  services/reservation-service/src/index.ts
  services/reservation-service/src/routes/monitoring.routes.ts
  services/reservation-service/src/utils/auditLog.ts
  services/reservation-service/src/utils/monitoring.ts
  services/reservation-service/src/utils/service.ts
Due: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes

docs: update documentation for v3.0.0 enterprise infrastructure release
  CHANGELOG.md
  README.md
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: update for v3.0.0 enterprise infrastructure release
  frontend/src/pages/super-admin/Dashboard.tsx
Due: Auto-label frontend changes

fix: add safety check for undefined health.status in SystemHealthDashboard
  frontend/src/components/super-admin/SystemHealthDashboard.tsx
Due: Auto-label frontend changes

docs: update for v3.0.0 enterprise infrastructure release (#42)
  frontend/src/components/super-admin/SystemHealthDashboard.tsx
Due: Auto-label frontend changes

fix: correct system health API endpoint path
  frontend/src/components/super-admin/SystemHealthDashboard.tsx
Due: Auto-label frontend changes

fix: suppress tenant ID warnings for system/super-admin endpoints
  frontend/src/services/api.ts
Due: Auto-label frontend changes

fix: suppress tenant ID warnings for system endpoints (#43)
  frontend/src/components/super-admin/SystemHealthDashboard.tsx
  frontend/src/services/api.ts
Due: Auto-label frontend changes

fix: support x-tenant-id header for impersonation
  services/customer/src/middleware/tenant.middleware.ts
Due: Auto-label backend changes

fix: support x-tenant-id header for impersonation (#44)
  services/customer/src/middleware/tenant.middleware.ts
Due: Auto-label backend changes

security: remove default to dev tenant, fail gracefully instead
  services/customer/src/middleware/tenant.middleware.ts
Due: Auto-label backend changes

security: remove default to dev tenant (#45)
  services/customer/src/middleware/tenant.middleware.ts
Due: Auto-label backend changes

refactor: move Vaccine Requirements from POS to Operations
  frontend/src/pages/settings/Settings.tsx
Due: Auto-label frontend changes

refactor: move Vaccine Requirements to Operations (#46)
  frontend/src/pages/settings/Settings.tsx
Due: Auto-label frontend changes

fix: use tenant UUID instead of subdomain for data queries
  services/customer/src/middleware/tenant.middleware.ts
Due: Auto-label backend changes

fix: use tenant UUID for data queries (#47)
  services/customer/src/middleware/tenant.middleware.ts
Due: Auto-label backend changes

fix: reservation service tenant middleware to use UUID
  services/reservation-service/prisma/schema.prisma
  services/reservation-service/src/middleware/tenantMiddleware.ts
Due: Auto-label backend changes

fix: reservation service tenant UUID support (#48)
  services/reservation-service/prisma/schema.prisma
  services/reservation-service/src/middleware/tenantMiddleware.ts
Due: Auto-label backend changes

fix: remove dev tenant fallback in products controller
  services/customer/src/controllers/products.controller.ts
Due: Auto-label backend changes

Path conditions:
  Auto-label frontend changes: any of: ^frontend/
  Auto-label backend changes: any of: ^services/
  Auto-label documentation changes: (any of: ^docs/) and (any of: \.md$)
  Auto-label test changes: ((any of: \.test\.ts$) and (any of: \.spec\.ts$)) and (any of: __tests__/)
