Repository moosecreates/tailtown: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes, Auto-label test changes

.mergify.yml:

pull_request_rules:
  - name: Auto-merge approved PRs with automerge label
    conditions:
      - check-success=code-quality
      - check-success=quick-tests
      - check-success=build-check
      - label=automerge
      - -draft
      - -conflict
    actions:
      merge:
        method: squash
        commit_message: title+body
      delete_head_branch: {}
        
  - name: Auto-update branches to avoid conflicts
    conditions:
      - -conflict
      - -draft
      - -closed
    actions:
      update: {}
      
  - name: Auto-label frontend changes
    conditions:
      - files~=^frontend/
    actions:
      label:
        add: ["frontend"]
        
  - name: Auto-label backend changes
    conditions:
      - files~=^services/
    actions:
      label:
        add: ["backend"]
        
  - name: Auto-label documentation changes
    conditions:
      - files~=^docs/
      - files~=\.md$
    actions:
      label:
        add: ["documentation"]
        
  - name: Auto-label test changes
    conditions:
      - files~=\.test\.ts$
      - files~=\.spec\.ts$
      - files~=__tests__/
    actions:
      label:
        add: ["tests"]
        
  - name: Request review for large PRs
    conditions:
      - files>=20
    actions:
      comment:
        message: |
          ⚠️ This PR modifies {{files}} files. Consider breaking it into smaller PRs for easier review.

fix: remove dev tenant fallback in products controller (#49)
  services/customer/src/controllers/products.controller.ts
Due: Auto-label backend changes

fix: use tenant ID from localStorage in Products page
  frontend/src/pages/products/Products.tsx
Due: Auto-label frontend changes

fix: use tenant ID from localStorage in Products page (#50)
  frontend/src/pages/products/Products.tsx
Due: Auto-label frontend changes

fix: replace all hardcoded 'dev' tenant IDs with localStorage tenant ID
  frontend/src/components/reservations/AddOnSelectionDialogEnhanced.tsx
  frontend/src/components/reservations/ReservationForm.tsx
  frontend/src/pages/admin/ChecklistTemplates.tsx
  frontend/src/pages/checkout/CheckoutPage.tsx
  frontend/src/pages/products/Products.tsx
  frontend/src/pages/staff/ChecklistView.tsx
  frontend/src/services/api/apiClient.ts
Due: Auto-label frontend changes

fix: replace all hardcoded dev tenant IDs with localStorage (#51)
  frontend/src/components/reservations/AddOnSelectionDialogEnhanced.tsx
  frontend/src/components/reservations/ReservationForm.tsx
  frontend/src/pages/admin/ChecklistTemplates.tsx
  frontend/src/pages/checkout/CheckoutPage.tsx
  frontend/src/pages/products/Products.tsx
  frontend/src/pages/staff/ChecklistView.tsx
  frontend/src/services/api/apiClient.ts
Due: Auto-label frontend changes

feat: implement zero-downtime deployments with pm2 reload
  .github/workflows/deploy.yml
  scripts/deploy.sh
Due: none

feat: zero-downtime deployments (#52)
  .github/workflows/deploy.yml
  scripts/deploy.sh
Due: none

docs: update best practices with tenant isolation and zero-downtime deployment patterns
  docs/DEVELOPMENT-BEST-PRACTICES.md
Due: Auto-label documentation changes

docs: add comprehensive session summary for Nov 8, 2025
  docs/SESSION-SUMMARY-NOV-8-2025.md
Due: Auto-label documentation changes

feat: add script to assign pet icons
  scripts/add-pet-icons.js
Due: none

feat: add script to set vaccine statuses with realistic expiration dates
  scripts/update-vaccine-status.js
Due: none

feat: add script to create sample orders/invoices
  scripts/create-sample-orders.js
Due: none

fix: vaccine status now correctly matches expiration dates (current=future, expired=past, pending=none)
  scripts/update-vaccine-status.js
Due: none

feat: add script to create sample reservations and update session docs
  docs/SESSION-SUMMARY-NOV-8-2025.md
  scripts/create-sample-reservations.js
Due: Auto-label documentation changes

fix: remove dev tenant fallback in reservation get controller for security
  services/reservation-service/src/controllers/reservation/get-reservation.controller.ts
Due: Auto-label backend changes

docs: add deployment documentation (#53)
  docs/DEVELOPMENT-BEST-PRACTICES.md
  docs/SESSION-SUMMARY-NOV-8-2025.md
  scripts/add-pet-icons.js
  scripts/create-sample-orders.js
  scripts/create-sample-reservations.js
  scripts/update-vaccine-status.js
  services/reservation-service/src/controllers/reservation/get-reservation.controller.ts
Due: Auto-label backend changes, Auto-label documentation changes

fix: convert subdomain to UUID in reservation service tenant middleware
  services/reservation-service/src/utils/service.ts
Due: Auto-label backend changes

fix: convert subdomain to UUID in reservation service (#54)
  services/reservation-service/src/utils/service.ts
Due: Auto-label backend changes

docs: add comprehensive TODO and status summary
  docs/TODO-NOV-8-2025.md
Due: Auto-label documentation changes

docs: finalize session summary with metrics and final status
  docs/SESSION-SUMMARY-NOV-8-2025.md
Due: Auto-label documentation changes

docs: finalize Nov 8 session documentation (#55)
  docs/SESSION-SUMMARY-NOV-8-2025.md
  docs/TODO-NOV-8-2025.md
Due: Auto-label documentation changes

fix: vaccine status dropdown now reads database values correctly
  frontend/src/components/VaccinationStatus.tsx
Due: Auto-label frontend changes

fix: vaccine status dropdown displays correct values (#56)
  frontend/src/components/VaccinationStatus.tsx
Due: Auto-label frontend changes

fix: update Pet type to accept string vaccination status
  frontend/src/types/pet.ts
Due: Auto-label frontend changes

fix: update Pet type for string vaccination status (#57)
  frontend/src/types/pet.ts
Due: Auto-label frontend changes

fix: add type assertion for vaccination status
  frontend/src/pages/pets/PetDetails.tsx
Due: Auto-label frontend changes

fix: add type assertion for vaccination status (#58)
  frontend/src/pages/pets/PetDetails.tsx
Due: Auto-label frontend changes

fix: use any type for vaccination status to bypass TypeScript error
  frontend/src/pages/pets/PetDetails.tsx
Due: Auto-label frontend changes

fix: use any type for vaccination status
  frontend/src/pages/pets/PetDetails.tsx
Due: Auto-label frontend changes

fix: vaccine status display with any type (#59)
  frontend/src/pages/pets/PetDetails.tsx
Due: Auto-label frontend changes

docs: add Nov 8 priorities to roadmap
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: add Nov 8 priorities to roadmap (#60)
  docs/ROADMAP.md
Due: Auto-label documentation changes

fix: move system routes before tenant middleware to fix health endpoint
  services/customer/src/index.ts
Due: Auto-label backend changes

fix: system health endpoint 400 error (#61)
  services/customer/src/index.ts
Due: Auto-label backend changes

docs: mark per-tenant rate limiting as complete
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: mark per-tenant rate limiting as complete (#62)
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: mark load testing and connection pooling as complete
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: mark load testing and connection pooling as complete (#63)
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: add completion status to senior dev review section
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: add completion status to senior dev review (#64)
  docs/ROADMAP.md
Due: Auto-label documentation changes
