Repository moosecreates/tailtown: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes, Auto-label test changes

.mergify.yml:

pull_request_rules:
  - name: Auto-merge approved PRs with automerge label
    conditions:
      - check-success=code-quality
      - check-success=quick-tests
      - check-success=build-check
      - label=automerge
      - -draft
      - -conflict
    actions:
      merge:
        method: squash
        commit_message: title+body
      delete_head_branch: {}
        
  - name: Auto-update branches to avoid conflicts
    conditions:
      - -conflict
      - -draft
      - -closed
    actions:
      update: {}
      
  - name: Auto-label frontend changes
    conditions:
      - files~=^frontend/
    actions:
      label:
        add: ["frontend"]
        
  - name: Auto-label backend changes
    conditions:
      - files~=^services/
    actions:
      label:
        add: ["backend"]
        
  - name: Auto-label documentation changes
    conditions:
      - files~=^docs/
      - files~=\.md$
    actions:
      label:
        add: ["documentation"]
        
  - name: Auto-label test changes
    conditions:
      - files~=\.test\.ts$
      - files~=\.spec\.ts$
      - files~=__tests__/
    actions:
      label:
        add: ["tests"]
        
  - name: Request review for large PRs
    conditions:
      - files>=20
    actions:
      comment:
        message: |
          ⚠️ This PR modifies {{files}} files. Consider breaking it into smaller PRs for easier review.

chore: add load test infrastructure and clone script
  load-tests/package.json
  load-tests/results/.gitkeep
  load-tests/run-all-tests.sh
  scripts/clone-tenant-data.js
Due: none

chore: add load test infrastructure and clone script (#65)
  load-tests/package.json
  load-tests/results/.gitkeep
  load-tests/run-all-tests.sh
  scripts/clone-tenant-data.js
Due: none

fix: use tenant id instead of subdomain in business settings
  services/customer/src/controllers/business-settings.controller.ts
Due: Auto-label backend changes

fix: business settings tenant lookup (#66)
  services/customer/src/controllers/business-settings.controller.ts
Due: Auto-label backend changes

fix: allow multipart/form-data for file uploads
  services/customer/src/middleware/content-type.middleware.ts
Due: Auto-label backend changes

fix: allow multipart/form-data for file uploads (#67)
  services/customer/src/middleware/content-type.middleware.ts
Due: Auto-label backend changes

chore: add Rainy Day Inn tenant seeding script
  mcp-server/__pycache__/indexer.cpython-313.pyc
  mcp-server/__pycache__/vector_store.cpython-313.pyc
Due: none

feat: Add staff schedule overlap prevention
  docs/ROADMAP.md
  docs/changelog/2025-11-14-staff-schedule-overlap-prevention.md
  scripts/seed-rainy-test-data.js
  services/customer/src/controllers/staff.controller.ts
Due: Auto-label backend changes, Auto-label documentation changes

test: Add comprehensive staff schedule overlap prevention tests
  services/customer/__tests__/staff-schedule-overlap.test.ts
  services/customer/jest.config.js
Due: Auto-label backend changes

docs: Add test documentation for staff schedule overlap prevention
  docs/testing/staff-schedule-overlap-tests.md
Due: Auto-label documentation changes

feat: Complete test database setup for staff schedule overlap tests
  services/customer/.env.test
  services/customer/TEST-DATABASE-SETUP.md
  services/customer/jest.setup.js
  services/customer/package.json
  services/customer/scripts/setup-test-db.sh
  services/customer/scripts/teardown-test-db.sh
Due: Auto-label backend changes

feat: Add Slack-like internal communications schema and mobile web app roadmap
  docs/ROADMAP.md
  services/customer/prisma/schema.prisma
Due: Auto-label backend changes, Auto-label documentation changes

docs: Update README with mobile web app and communications features
  README.md
Due: none

feat: Mobile web app foundation - Phase 1
  frontend/src/components/mobile/BottomNav.tsx
  frontend/src/components/mobile/MobileHeader.tsx
  frontend/src/hooks/useDevice.ts
  frontend/src/layouts/MobileLayout.tsx
  frontend/src/layouts/ResponsiveLayout.tsx
  frontend/src/pages/mobile/Checklists.tsx
  frontend/src/pages/mobile/MobileDashboard.tsx
  frontend/src/pages/mobile/MySchedule.tsx
  frontend/src/pages/mobile/Profile.tsx
  frontend/src/pages/mobile/TeamChat.tsx
  frontend/src/pages/mobile/index.ts
Due: Auto-label frontend changes

feat: Add mobile routing and fix exports
  frontend/src/App.tsx
  frontend/src/pages/mobile/Checklists.tsx
  frontend/src/pages/mobile/MobileDashboard.tsx
  frontend/src/pages/mobile/MySchedule.tsx
  frontend/src/pages/mobile/Profile.tsx
  frontend/src/pages/mobile/TeamChat.tsx
  frontend/src/pages/mobile/index.ts
  frontend/src/styles/mobile.css
  frontend/src/theme/mobileTheme.ts
Due: Auto-label frontend changes

feat: Connect mobile dashboard to real APIs
  frontend/src/layouts/MobileLayout.tsx
  frontend/src/pages/mobile/MobileDashboard.tsx
  frontend/src/services/mobileService.ts
Due: Auto-label frontend changes

feat: Build all 3 mobile feature pages - Checklists, TeamChat, MySchedule
  frontend/src/pages/mobile/Checklists.tsx
  frontend/src/pages/mobile/MySchedule.tsx
  frontend/src/pages/mobile/TeamChat.tsx
Due: Auto-label frontend changes

docs: Add comprehensive mobile web app documentation
  README.md
  docs/ROADMAP.md
  docs/changelog/2025-11-14-mobile-web-app-mvp.md
Due: Auto-label documentation changes

docs: Update CHANGELOG.md with version 1.1.0 release
  docs/changelog/CHANGELOG.md
Due: Auto-label documentation changes

docs: Major ROADMAP cleanup and reorganization
  docs/ROADMAP-OLD.md
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: Move all completed features from ROADMAP to CHANGELOG
  docs/ROADMAP.md
  docs/changelog/CHANGELOG.md
Due: Auto-label documentation changes

security: CRITICAL - Remove all 'dev' fallbacks from controllers
  scripts/fix-dev-fallbacks.sh
  services/customer/src/controllers/analytics.controller.ts
  services/customer/src/controllers/announcement.controller.ts
  services/customer/src/controllers/business-settings.controller.ts
  services/customer/src/controllers/checklist.controller.ts
  services/customer/src/controllers/custom-icons.controller.ts
  services/customer/src/controllers/enrollment.controller.ts
  services/customer/src/controllers/groomerAppointment.controller.ts
  services/customer/src/controllers/messageTemplates.controller.ts
  services/customer/src/controllers/referenceData.controller.ts
  services/customer/src/controllers/reports.controller.ts
  services/customer/src/controllers/sms.controller.ts
  services/customer/src/controllers/staff.controller.ts
  services/customer/src/controllers/trainingClass.controller.ts
  services/customer/src/controllers/vaccineRequirement.controller.ts
  services/reservation-service/src/controllers/check-in-template.controller.ts
  services/reservation-service/src/controllers/check-in.controller.ts
  services/reservation-service/src/controllers/service-agreement.controller.ts
Due: Auto-label backend changes

docs: Mark dev fallbacks audit as complete in ROADMAP
  docs/ROADMAP.md
Due: Auto-label documentation changes

fix: add environment-aware tenant fallbacks for tests
  DEPLOY-MOBILE-APP.md
  scripts/add-safe-tenant-fallbacks.sh
  services/customer/src/controllers/announcement.controller.ts
  services/customer/src/controllers/checklist.controller.ts
  services/customer/src/controllers/custom-icons.controller.ts
  services/customer/src/controllers/enrollment.controller.ts
  services/customer/src/controllers/groomerAppointment.controller.ts
  services/customer/src/controllers/products.controller.ts
  services/customer/src/controllers/referenceData.controller.ts
  services/customer/src/controllers/reports.controller.ts
  services/customer/src/controllers/sms.controller.ts
  services/customer/src/controllers/trainingClass.controller.ts
  services/customer/src/controllers/vaccineRequirement.controller.ts
  services/customer/src/utils/tenant.ts
  services/reservation-service/src/controllers/reservation/add-ons.controller.ts
  services/reservation-service/src/controllers/reservation/create-reservation.controller.ts
  services/reservation-service/src/controllers/resource/availability.controller.ts
  services/reservation-service/src/controllers/resource/batch-availability.controller.ts
  services/reservation-service/src/controllers/resource/resource.controller.ts
Due: Auto-label backend changes

fix: improve tenant fallback logic for test environments
  services/customer/src/controllers/announcement.controller.ts
  services/customer/src/controllers/checklist.controller.ts
  services/customer/src/controllers/custom-icons.controller.ts
  services/customer/src/controllers/enrollment.controller.ts
  services/customer/src/controllers/groomerAppointment.controller.ts
  services/customer/src/controllers/products.controller.ts
  services/customer/src/controllers/referenceData.controller.ts
  services/customer/src/controllers/reports.controller.ts
  services/customer/src/controllers/sms.controller.ts
  services/customer/src/controllers/trainingClass.controller.ts
  services/customer/src/controllers/vaccineRequirement.controller.ts
  services/reservation-service/src/controllers/reservation/add-ons.controller.ts
  services/reservation-service/src/controllers/reservation/create-reservation.controller.ts
  services/reservation-service/src/controllers/resource/availability.controller.ts
  services/reservation-service/src/controllers/resource/batch-availability.controller.ts
  services/reservation-service/src/controllers/resource/resource.controller.ts
Due: Auto-label backend changes

docs: update roadmap and add mobile app deployment summary
  docs/ROADMAP.md
  docs/deployment/MOBILE-APP-DEPLOYMENT-NOV-15-2025.md
Due: Auto-label documentation changes

feat(mobile): improve dashboard UI - remove Staff on Duty, make items clickable
  frontend/src/pages/mobile/MobileDashboard.tsx
  frontend/src/services/mobileService.ts
Due: Auto-label frontend changes

feat(mobile): make pets in facility compact single-line item
  frontend/src/pages/mobile/MobileDashboard.tsx
Due: Auto-label frontend changes

fix(mobile): use React Router navigation for clickable items
  frontend/src/pages/mobile/MobileDashboard.tsx
Due: Auto-label frontend changes

feat(mobile): connect profile and notifications navigation
  frontend/src/components/mobile/MobileHeader.tsx
Due: Auto-label frontend changes

feat(mobile): add persistent bottom navigation to all pages
  frontend/src/pages/mobile/Checklists.tsx
  frontend/src/pages/mobile/MobileDashboard.tsx
  frontend/src/pages/mobile/MySchedule.tsx
  frontend/src/pages/mobile/Profile.tsx
  frontend/src/pages/mobile/TeamChat.tsx
Due: Auto-label frontend changes

feat: add mobile test data seeding scripts
  scripts/seed-mobile-simple.js
  scripts/seed-mobile-test-data.js
Due: none

feat(mobile): remove Profile from bottom nav + add messaging backend API
  frontend/src/components/mobile/BottomNav.tsx
  services/customer/src/controllers/messaging.controller.ts
  services/customer/src/routes/messaging.routes.ts
Due: Auto-label frontend changes, Auto-label backend changes

feat: complete messaging backend integration + deploy
  scripts/seed-messaging-data.js
  services/customer/src/index.ts
Due: Auto-label backend changes

feat: add SQL seed script for messaging data
  scripts/seed-messaging-sql.sql
Due: none

feat: add safe database migration for messaging system
  services/customer/prisma/migrations/20251115_add_messaging_system/migration.sql
Due: Auto-label backend changes

test: add comprehensive messaging API tests
  services/customer/__tests__/messaging.api.test.ts
Due: Auto-label backend changes

feat: add comprehensive automated testing infrastructure
  docs/TESTING.md
  scripts/run-tests.sh
Due: Auto-label documentation changes

fix: add nvm loading and npm check to test runner script
  scripts/run-tests.sh
Due: none
