Repository moosecreates/tailtown: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes, Auto-label test changes

.mergify.yml:

pull_request_rules:
  - name: Auto-merge approved PRs with automerge label
    conditions:
      - check-success=code-quality
      - check-success=quick-tests
      - check-success=build-check
      - label=automerge
      - -draft
      - -conflict
    actions:
      merge:
        method: squash
        commit_message: title+body
      delete_head_branch: {}
        
  - name: Auto-update branches to avoid conflicts
    conditions:
      - -conflict
      - -draft
      - -closed
    actions:
      update: {}
      
  - name: Auto-label frontend changes
    conditions:
      - files~=^frontend/
    actions:
      label:
        add: ["frontend"]
        
  - name: Auto-label backend changes
    conditions:
      - files~=^services/
    actions:
      label:
        add: ["backend"]
        
  - name: Auto-label documentation changes
    conditions:
      - files~=^docs/
      - files~=\.md$
    actions:
      label:
        add: ["documentation"]
        
  - name: Auto-label test changes
    conditions:
      - files~=\.test\.ts$
      - files~=\.spec\.ts$
      - files~=__tests__/
    actions:
      label:
        add: ["tests"]
        
  - name: Request review for large PRs
    conditions:
      - files>=20
    actions:
      comment:
        message: |
          ⚠️ This PR modifies {{files}} files. Consider breaking it into smaller PRs for easier review.

fix: make database tests optional in test runner
  scripts/run-tests.sh
Due: none

docs: add test setup guide
  docs/TEST-SETUP.md
Due: Auto-label documentation changes

docs: add comprehensive frontend test fix analysis
  docs/FRONTEND-TEST-FIXES.md
Due: Auto-label documentation changes

fix: resolve mock setup and date comparison test failures
  frontend/src/components/reservations/__tests__/ReservationForm.test.tsx
  frontend/src/services/__tests__/reservationManagementService.test.ts
Due: Auto-label frontend changes

fix: remove unused import and add test fix script
  frontend/src/components/reservations/__tests__/ReservationForm.test.tsx
  scripts/fix-frontend-tests.sh
Due: Auto-label frontend changes

fix: resolve more date/time test failures
  frontend/src/services/__tests__/availabilityService.test.ts
  frontend/src/utils/__tests__/availabilityLogic.test.ts
Due: Auto-label frontend changes

fix: update more tests to use future dates
  frontend/src/utils/__tests__/availabilityLogic.test.ts
Due: Auto-label frontend changes

fix: ensure tests validate business rules correctly
  frontend/src/services/__tests__/reservationManagementService.test.ts
  frontend/src/utils/__tests__/availabilityLogic.test.ts
Due: Auto-label frontend changes

feat: design comprehensive waitlist feature
  docs/WAITLIST-DESIGN.md
  services/customer/prisma/waitlist-schema.prisma
Due: Auto-label backend changes, Auto-label documentation changes

feat: integrate waitlist schema into main Prisma schema
  services/customer/prisma/schema.prisma
  services/customer/prisma/waitlist-schema.prisma
Due: Auto-label backend changes

feat: create safe database migration for waitlist system
  services/customer/prisma/migrations/20251115_add_waitlist_system/migration.sql
Due: Auto-label backend changes

feat: implement waitlist backend API
  services/customer/src/controllers/waitlist.controller.ts
  services/customer/src/routes/waitlist.routes.ts
Due: Auto-label backend changes

feat: register waitlist routes in main app
  services/customer/src/index.ts
Due: Auto-label backend changes

feat: create waitlist UI components
  frontend/src/components/waitlist/WaitlistDashboard.tsx
  frontend/src/services/waitlistService.ts
Due: Auto-label frontend changes

feat: implement comprehensive notification system for waitlist
  services/customer/src/services/waitlist-notification.service.ts
Due: Auto-label backend changes

docs: add comprehensive waitlist deployment guide
  docs/WAITLIST-DEPLOYMENT.md
Due: Auto-label documentation changes

docs: design pet report card system
  docs/REPORT-CARD-DESIGN.md
Due: Auto-label documentation changes

feat: add report card database schema and migration
  services/customer/prisma/migrations/20251115_add_report_card_system/migration.sql
  services/customer/prisma/schema.prisma
Due: Auto-label backend changes

feat: implement report card backend API
  services/customer/src/controllers/reportCard.controller.ts
  services/customer/src/index.ts
  services/customer/src/routes/reportCard.routes.ts
Due: Auto-label backend changes

feat: add report card frontend service
  frontend/src/services/reportCardService.ts
Due: Auto-label frontend changes

feat: complete report card UI components
  frontend/src/components/reportCards/BulkReportCardDashboard.tsx
  frontend/src/components/reportCards/QuickReportCard.tsx
  frontend/src/components/reportCards/ReportCardViewer.tsx
Due: Auto-label frontend changes

fix: correct report card migration types to match schema
  services/customer/prisma/migrations/20251115_add_report_card_system/migration.sql
Due: Auto-label backend changes

fix: resolve Prisma schema relation errors
  services/customer/prisma/schema.prisma
Due: Auto-label backend changes

test: add comprehensive test suite for report cards
  frontend/src/services/__tests__/reportCardService.test.ts
  services/customer/src/__tests__/reportCard.integration.test.ts
  services/customer/src/controllers/__tests__/reportCard.controller.test.ts
Due: Auto-label frontend changes, Auto-label backend changes

feat: add mobile report cards page with photo upload
  frontend/src/App.tsx
  frontend/src/components/mobile/BottomNav.tsx
  frontend/src/pages/mobile/ReportCards.tsx
Due: Auto-label frontend changes

docs: comprehensive documentation update for report card system
  docs/README.md
  docs/REPORT-CARD-DEPLOYMENT.md
  docs/ROADMAP.md
  docs/SYSTEM-FEATURES-OVERVIEW.md
Due: Auto-label documentation changes

docs: move completed features to changelog, clean up roadmap
  docs/ROADMAP.md
  docs/changelog/CHANGELOG.md
Due: Auto-label documentation changes

fix: prevent double submission in staff scheduling form
  frontend/src/components/staff/StaffScheduleForm.tsx
Due: Auto-label frontend changes

feat: add report cards to main app navigation
  frontend/src/App.tsx
  frontend/src/components/layouts/MainLayout.tsx
  frontend/src/pages/reportCards/ReportCards.tsx
Due: Auto-label frontend changes

fix: add onBack prop to MobileHeader component
  frontend/src/components/mobile/MobileHeader.tsx
Due: Auto-label frontend changes

fix: correct AppError import path in waitlist controller
  services/customer/src/controllers/waitlist.controller.ts
Due: Auto-label backend changes

fix: use default import for AppError
  services/customer/src/controllers/waitlist.controller.ts
Due: Auto-label backend changes

fix: disable incomplete waitlist feature to fix TypeScript errors
  services/customer/src/controllers/trainingClass.controller.ts
  services/customer/src/controllers/waitlist.controller.ts.disabled
  services/customer/src/index.ts
  services/customer/src/routes/waitlist.routes.ts.disabled
Due: Auto-label backend changes

feat: complete waitlist feature implementation
  services/customer/package-lock.json
  services/customer/package.json
  services/customer/src/controllers/gingr-migration.controller.ts
  services/customer/src/controllers/trainingClass.controller.ts
  services/customer/src/controllers/waitlist.controller.ts
  services/customer/src/services/gingr-resource-mapper.service.ts
Due: Auto-label backend changes

fix: update ESLint versions for CI compatibility
  services/customer/package-lock.json
  services/customer/package.json
Due: Auto-label backend changes

fix: remove debug console spam and improve invoice error messages
  frontend/src/components/calendar/components/KennelRow.tsx
  services/customer/src/controllers/invoice.controller.ts
Due: Auto-label frontend changes, Auto-label backend changes

fix: force ESLint 8.x globally to resolve CI dependency conflicts
  package.json
Due: none

fix: downgrade reservation service ESLint to 8.x
  services/reservation-service/package.json
Due: Auto-label backend changes

fix: remove reservation service package-lock.json for regeneration
  services/reservation-service/package-lock.json
Due: Auto-label backend changes
