Repository moosecreates/tailtown: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes, Auto-label test changes

Auto-label frontend changes:
  label:
    add:
    - frontend

Auto-label backend changes:
  label:
    add:
    - backend

Auto-label documentation changes:
  label:
    add:
    - documentation

Auto-label test changes:
  label:
    add:
    - tests

fix: remove parent node_modules/@prisma to force correct resolution
  .github/workflows/deploy.yml
Due: none

fix: remove parent node_modules/@prisma
  .github/workflows/deploy.yml
Due: none

fix: use npx with specific Prisma version to regenerate
  .github/workflows/deploy.yml
Due: none

fix: use npx with specific Prisma version
  .github/workflows/deploy.yml
Due: none

REVERT: restore stable deployment workflow
  .github/workflows/deploy.yml
Due: none

fix: add DISABLE_ESLINT_PLUGIN to build
  .github/workflows/deploy.yml
Due: none

fix: use production domain instead of direct IP
  .github/workflows/deploy.yml
Due: none

fix: use production domain + force PM2 restart
  .github/workflows/deploy.yml
Due: none

feat: add server diagnostics to deployment
  .github/workflows/deploy.yml
Due: none

fix: install Prisma dependencies for reservation service
  .github/workflows/deploy.yml
Due: none

fix: nuclear option - clean reinstall reservation node_modules
  .github/workflows/deploy.yml
Due: none

fix: use --legacy-peer-deps for npm ci
  .github/workflows/deploy.yml
Due: none

fix: change classWaitlist to waitlist in training class query
  services/customer/src/controllers/trainingClass.controller.ts
Due: Auto-label backend changes

fix: remove waitlist count from training class query
  services/customer/src/controllers/trainingClass.controller.ts
Due: Auto-label backend changes

docs: comprehensive update after Nov 16 deployment fixes
  docs/CRITICAL-DOCS-REGISTRY.md
  docs/DEPLOYMENT-FIX-SESSION-NOV-16-2025.md
  docs/ROADMAP.md
Due: Auto-label documentation changes

feat: add automated deployment tests to prevent schema mismatches
  .github/workflows/pre-deployment-tests.yml
  docs/AUTOMATED-DEPLOYMENT-TESTS.md
  services/customer/src/__tests__/prisma-schema-validation.test.ts
  services/customer/src/__tests__/service-health.test.ts
Due: Auto-label backend changes, Auto-label documentation changes

docs: add comprehensive session summary for Nov 16, 2025
  docs/SESSION-SUMMARY-NOV-16-2025.md
Due: Auto-label documentation changes

feat: add customer and pet selection to report card form
  frontend/src/components/reportCards/QuickReportCard.tsx
Due: Auto-label frontend changes

feat: add waitlist navigation and page
  frontend/src/App.tsx
  frontend/src/components/layouts/MainLayout.tsx
  frontend/src/pages/waitlist/Waitlist.tsx
Due: Auto-label frontend changes

fix: add database migrations to deployment workflow
  .github/workflows/deploy.yml
Due: none

fix: remove optional service/resource includes from waitlist queries
  services/customer/src/controllers/waitlist.controller.ts
Due: Auto-label backend changes

fix: rebuild TypeScript after Prisma generation
  .github/workflows/deploy.yml
Due: none

fix: deploy source files for server rebuild
  .github/workflows/deploy.yml
Due: none

fix: create deployment subdirectories before copying files
  .github/workflows/deploy.yml
Due: none

Path conditions:
  Auto-label frontend changes: any of: ^frontend/
  Auto-label backend changes: any of: ^services/
  Auto-label documentation changes: (any of: ^docs/) and (any of: \.md$)
  Auto-label test changes: ((any of: \.test\.ts$) and (any of: \.spec\.ts$)) and (any of: __tests__/)
