Repository moosecreates/tailtown: changes, and which Mergify rules are due for each by the changed paths.
All: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes, Auto-label test changes

Auto-label frontend changes:
  label:
    add:
    - frontend

Auto-label backend changes:
  label:
    add:
    - backend

Auto-label documentation changes:
  label:
    add:
    - documentation

Auto-label test changes:
  label:
    add:
    - tests

docs: Update Phase 2 summary to reflect 100% completion
  docs/CONSOLE-LOG-PHASE2-SUMMARY.md
Due: Auto-label documentation changes

feat: Redis caching Phase 3 - Service catalog and resources
  services/customer/src/controllers/resource.controller.ts
  services/customer/src/controllers/service.controller.ts
Due: Auto-label backend changes

feat: Redis caching Phase 3 - Services & Resources
  docs/CONSOLE-LOG-PHASE2-SUMMARY.md
  services/customer/src/controllers/resource.controller.ts
  services/customer/src/controllers/service.controller.ts
Due: Auto-label backend changes, Auto-label documentation changes

docs: Update architectural review and planning docs
  docs/ARCHITECTURAL-REVIEW-2025.md
  docs/ROADMAP.md
  docs/SCALING-ACTION-PLAN.md
Due: Auto-label documentation changes

docs: Update README, CHANGELOG, and performance docs
  CHANGELOG.md
  README.md
  docs/completed/PERFORMANCE-OPTIMIZATIONS.md
Due: Auto-label documentation changes

docs: Comprehensive tenant isolation documentation update
  TENANT-ISOLATION-SUCCESS.md
  docs/TENANT-ISOLATION-CHECKLIST.md
  docs/TENANT-ISOLATION-CI-CD-SUMMARY.md
  docs/TENANT-ISOLATION-RESERVATION-SERVICE-TODO.md
Due: Auto-label documentation changes

test: Add tenant isolation test infrastructure for reservation service
  services/reservation-service/src/__tests__/integration/tenant-isolation-reservations.test.ts
  services/reservation-service/src/tests/integration/setup.ts
  services/reservation-service/src/tests/utils/test-helpers.ts
Due: Auto-label backend changes

test: Expand tenant isolation tests with full CRUD operations
  services/reservation-service/prisma/schema.prisma
  services/reservation-service/src/__tests__/integration/tenant-isolation-reservations.test.ts
Due: Auto-label backend changes

docs: Update changelog and README for v1.2.6 tenant isolation tests
  CHANGELOG.md
  README.md
Due: none

fix: Revert Prisma schema changes to pass CI validation
  services/reservation-service/prisma/schema.prisma
Due: Auto-label backend changes

feat: Working tenant isolation tests - found DELETE security bug!
  services/reservation-service/src/__tests__/integration/tenant-isolation-reservations.test.ts
  services/reservation-service/src/utils/jwt.ts
Due: Auto-label backend changes

feat: Complete tenant isolation tests - ALL 9/9 PASSING! 🎉
  services/reservation-service/src/__tests__/integration/tenant-isolation-reservations.test.ts
  services/reservation-service/src/controllers/reservation/delete-reservation.controller.ts
  services/reservation-service/src/controllers/reservation/get-reservation.controller.ts
Due: Auto-label backend changes

docs: Update documentation for v1.2.7 tenant isolation completion
  CHANGELOG.md
  services/reservation-service/docs/README.md
  services/reservation-service/docs/TESTING-GUIDE.md
Due: Auto-label backend changes

docs: Update roadmap with completed tenant isolation testing
  services/reservation-service/docs/REFACTORING-ROADMAP.md
Due: Auto-label backend changes

docs: Consolidate refactoring roadmap into main project documentation
  CHANGELOG.md
  docs/ROADMAP.md
  services/reservation-service/docs/REFACTORING-ROADMAP-ARCHIVED.md
  services/reservation-service/docs/REFACTORING-ROADMAP.md
Due: Auto-label backend changes, Auto-label documentation changes

docs: Simplify roadmap to prioritized list, move completed items to CHANGELOG
  CHANGELOG.md
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: Move Redis Phase 2 to Medium priority (correctly numbered)
  docs/ROADMAP.md
Due: Auto-label documentation changes

docs: Add comprehensive multi-pet testing plan
  docs/testing/MULTI-PET-TESTING-PLAN.md
Due: Auto-label documentation changes

docs: Update testing plan to use dev.canicloud.com environment
  docs/testing/MULTI-PET-TESTING-PLAN.md
Due: Auto-label documentation changes

docs: Document multi-pet suite capacity issue and implementation plan
  docs/issues/MULTI-PET-SUITE-CAPACITY.md
  docs/testing/MULTI-PET-TESTING-PLAN.md
Due: Auto-label documentation changes

feat: Add multi-pet suite capacity support
  services/reservation-service/prisma/migrations/add_max_pets_field.sql
  services/reservation-service/prisma/schema.prisma
  services/reservation-service/src/controllers/resource/resource.controller.ts
Due: Auto-label backend changes

feat: Implement multi-pet suite capacity in frontend
  frontend/src/components/reservations/ReservationForm.tsx
  frontend/src/types/resource.ts
Due: Auto-label frontend changes

docs: Add multi-pet suite capacity implementation summary
  docs/features/MULTI-PET-SUITE-CAPACITY-IMPLEMENTATION.md
Due: Auto-label documentation changes

feat: Add 'Board Together' button for easy multi-pet suite assignment
  frontend/src/components/reservations/ReservationForm.tsx
Due: Auto-label frontend changes

feat: Implement room size-based kennel system
  frontend/src/components/reservations/ReservationForm.tsx
  frontend/src/types/resource.ts
  services/reservation-service/prisma/migrations/add_room_size_field.sql
  services/reservation-service/prisma/migrations/tailtown_parse_kennel_sizes.sql
  services/reservation-service/prisma/schema.prisma
  services/reservation-service/src/controllers/resource/resource.controller.ts
Due: Auto-label frontend changes, Auto-label backend changes

feat: Room size system refactor - v1.3.0
  CHANGELOG.md
  docs/ROOM-SIZE-REFACTORING.md
  frontend/src/components/calendar/components/KennelCalendarHeader.tsx
  frontend/src/components/calendar/components/KennelRow.tsx
  frontend/src/components/reservations/ReservationForm.tsx
  frontend/src/hooks/useKennelData.ts
  frontend/src/pages/resources/ResourceDetails.tsx
  frontend/src/pages/resources/Resources.tsx
  frontend/src/services/resourceService.ts
  services/reservation-service/src/controllers/resource/resource.controller.ts
Due: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes

test: Add tenant isolation test infrastructure for reservation service (#178)
  CHANGELOG.md
  README.md
  docs/ROADMAP.md
  docs/ROOM-SIZE-REFACTORING.md
  docs/features/MULTI-PET-SUITE-CAPACITY-IMPLEMENTATION.md
  docs/issues/MULTI-PET-SUITE-CAPACITY.md
  docs/testing/MULTI-PET-TESTING-PLAN.md
  frontend/src/components/calendar/components/KennelCalendarHeader.tsx
  frontend/src/components/calendar/components/KennelRow.tsx
  frontend/src/components/reservations/ReservationForm.tsx
  frontend/src/hooks/useKennelData.ts
  frontend/src/pages/resources/ResourceDetails.tsx
  frontend/src/pages/resources/Resources.tsx
  frontend/src/services/resourceService.ts
  frontend/src/types/resource.ts
  services/reservation-service/docs/README.md
  services/reservation-service/docs/REFACTORING-ROADMAP-ARCHIVED.md
  services/reservation-service/docs/REFACTORING-ROADMAP.md
  services/reservation-service/docs/TESTING-GUIDE.md
  services/reservation-service/prisma/migrations/add_max_pets_field.sql
  services/reservation-service/prisma/migrations/add_room_size_field.sql
  services/reservation-service/prisma/migrations/tailtown_parse_kennel_sizes.sql
  services/reservation-service/prisma/schema.prisma
  services/reservation-service/src/__tests__/integration/tenant-isolation-reservations.test.ts
  services/reservation-service/src/controllers/reservation/delete-reservation.controller.ts
  services/reservation-service/src/controllers/reservation/get-reservation.controller.ts
  services/reservation-service/src/controllers/resource/resource.controller.ts
  services/reservation-service/src/tests/integration/setup.ts
  services/reservation-service/src/tests/utils/test-helpers.ts
  services/reservation-service/src/utils/jwt.ts
Due: Auto-label frontend changes, Auto-label backend changes, Auto-label documentation changes

fix: Add logging to debug calendar reservation display (#179)
  docs/CONSOLE-LOG-COMPLETE-SUMMARY.md
  frontend/src/hooks/useKennelData.ts
Due: Auto-label frontend changes, Auto-label documentation changes

docs: Update version to 1.3.0 and add deployment details for room size refactor
  README.md
  docs/ROOM-SIZE-REFACTORING.md
Due: Auto-label documentation changes

docs: Update version to 1.3.0 and add deployment details (#180)
  README.md
  docs/ROOM-SIZE-REFACTORING.md
Due: Auto-label documentation changes

fix: Update Kennels page to use room sizes instead of old suite types
  frontend/src/components/suites/SuiteBoard.tsx
  frontend/src/services/resourceService.ts
Due: Auto-label frontend changes

fix: Update Kennels page to use room sizes instead of old suite types (#181)
  frontend/src/components/suites/SuiteBoard.tsx
  frontend/src/services/resourceService.ts
Due: Auto-label frontend changes

fix: Replace all SuiteType references with RoomSize in SuiteBoard
  frontend/src/components/suites/SuiteBoard.tsx
Due: Auto-label frontend changes

fix: Complete SuiteBoard room size migration (#182)
  frontend/src/components/suites/SuiteBoard.tsx
Due: Auto-label frontend changes

docs: Update deployment documentation with nginx routing fixes and Kennels page resolution
  docs/NGINX-ROUTING.md
  docs/ROOM-SIZE-REFACTORING.md
Due: Auto-label documentation changes

docs: Update deployment documentation with nginx routing fixes (#183)
  docs/NGINX-ROUTING.md
  docs/ROOM-SIZE-REFACTORING.md
Due: Auto-label documentation changes

Fix announcements feature - route order, auth, and tenant middleware
  services/customer/src/controllers/announcement.controller.ts
  services/customer/src/index.ts
  services/customer/src/middleware/tenant.middleware.ts
  services/customer/src/routes/announcement.routes.ts
Due: Auto-label backend changes

Fix announcements feature (#184)
  services/customer/src/controllers/announcement.controller.ts
  services/customer/src/index.ts
  services/customer/src/middleware/tenant.middleware.ts
  services/customer/src/routes/announcement.routes.ts
Due: Auto-label backend changes

Fix announcement dismiss for unauthenticated users - hide dismiss button when not logged in
  docs/ANNOUNCEMENT-DISMISS-FIX.md
  docs/ANNOUNCEMENTS-DEPLOYMENT-LESSONS.md
  docs/NGINX-ROUTING.md
  frontend/src/components/announcements/AnnouncementModal.tsx
  frontend/src/components/layouts/MainLayout.tsx
  frontend/src/pages/Dashboard.tsx
Due: Auto-label frontend changes, Auto-label documentation changes

Fix announcement dismiss for unauthenticated users - hide dismiss button when not logged in (#185)
  docs/ANNOUNCEMENT-DISMISS-FIX.md
  docs/ANNOUNCEMENTS-DEPLOYMENT-LESSONS.md
  docs/NGINX-ROUTING.md
  frontend/src/components/announcements/AnnouncementModal.tsx
  frontend/src/components/layouts/MainLayout.tsx
  frontend/src/pages/Dashboard.tsx
Due: Auto-label frontend changes, Auto-label documentation changes

Path conditions:
  Auto-label frontend changes: any of: ^frontend/
  Auto-label backend changes: any of: ^services/
  Auto-label documentation changes: (any of: ^docs/) and (any of: \.md$)
  Auto-label test changes: ((any of: \.test\.ts$) and (any of: \.spec\.ts$)) and (any of: __tests__/)
